name: Build

on:
  push:
    branches:
      - main
    paths:
      - 'lsdriver/**'  # 新增：监听lsdriver目录的修改
      - '.github/workflows/module.yml'
      - '.github/workflows/ddk-lkm.yml'
  pull_request:
  # 新增：手动触发规则，添加后就会出现Run workflow按钮
  workflow_dispatch:

jobs:
  build-modules:
    name: Build lsdriver.ko
    uses: ./.github/workflows/ddk-lkm.yml
    strategy:
      fail-fast: false
      matrix:
        kmi:
          - android12-5.10
          - android13-5.10
          - android13-5.15
          - android14-5.15
          - android14-6.1
          - android15-6.6
          - android16-6.12
    with:
      kmi: ${{ matrix.kmi }}
      ddk_release: '20251007'
      module_name: 'lsdriver'
      module_path: 'module_template'
